<%- include("../partials/header") %>
<form action="/bacsi/dschupphimbacsi" method="POST">
    <label>MaNhanVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="MaNhanVien" class="form-control">
    </div>
    <label>MaBenhNhan</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="MaBenhNhan" class="form-control">
    </div>
    <label>FromDate</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="FromDate" class="form-control">
    </div>
    <label>ToDate</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="ToDate" class="form-control">
    </div>
    <button class="btn btn-primary w-100">Submit</button>
</form>