<%- include("../partials/header") %>
<form action="/bacsi/taobenhnhan" method="POST">
    <label>TaiKhoan</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="TaiKhoan" class="form-control">
    </div>
    <label>MatKhau</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="MatKhau" class="form-control">
    </div>
    <label>HoVaTenLot</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="HoVaTenLot" class="form-control">
    </div>
    <label>Ten</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="Ten" class="form-control">
    </div>
    <label>Email</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="Email" class="form-control">
    </div>
    <label>SDT</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="SDT" class="form-control">
    </div>
    <label>GioiTinh</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="GioiTinh" class="form-control">
    </div>
    <label>NgaySinh</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="NgaySinh" class="form-control">
    </div>
    <label>DanToc</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="DanToc" class="form-control">
    </div>
    <button class="btn btn-primary w-100">Submit</button>
</form>