<%- include("../partials/header") %>
<form action="/bacsi/themcddduong" method="POST">
    <label>CheDoAnUong</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="CheDoAnUong" class="form-control">
    </div>
    <button class="btn btn-primary w-100">Submit</button>
</form>