<%- include("../partials/header") %>
<form action="/bacsi/xuatvien" method="POST">
    <label>NVMaNhanVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="NVMaNhanVien" class="form-control">
    </div>
    <label>NVMaNhanVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="NVMaNhanVien" class="form-control">
    </div>
    <label>NVThoiGianKhamBenh</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="NVThoiGianKhamBenh" class="form-control">
    </div>
    <label>NVThoiGianRaKQ</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="NVThoiGianRaKQ" class="form-control">
    </div>
    <label>ThoiGianNhapVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="ThoiGianNhapVien" class="form-control">
    </div>
    <label>ThoiGianXuatVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="ThoiGianXuatVien" class="form-control">
    </div>
    <label>TinhTrangXuatVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="TinhTrangXuatVien" class="form-control">
    </div>
    <label>GhiChuXuatVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="GhiChuXuatVien" class="form-control">
    </div>
    <label>MaNhanVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="MaNhanVien" class="form-control">
    </div>
    <label>MaBenhNhan</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="MaBenhNhan" class="form-control">
    </div>
    <label>ThoiGianKhamBenh</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="ThoiGianKhamBenh" class="form-control">
    </div>
    <label>ThoiGianRaKQ</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="ThoiGianRaKQ" class="form-control">
    </div>
    <button class="btn btn-primary w-100">Submit</button>
</form>