<%- include("../partials/header") %>

<div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">

        <h1> Trang Bác Sĩ </h1>


        <a href="/bacsi/taobenhnhan" class="btn btn-primary">Thêm bệnh nhân</a>
        <a href="/bacsi/themthuoc" class="btn btn-primary">Thêm thuốc</a>
        <a href="/bacsi/themthuocvaokq" class="btn btn-primary">Thêm thuốc vào kết quả</a>
        <a href="/bacsi/thembenh" class="btn btn-primary">Thêm bệnh</a>
        <a href="/bacsi/themkqbenh" class="btn btn-primary">Thêm kết quả bệnh</a>
        <a href="/bacsi/themcddduong" class="btn btn-primary">Thêm chế độ dinh dưỡng</a>
        <a href="/bacsi/themkqcddduong" class="btn btn-primary">Thêm kết quả chế độ dinh dưỡng</a>
        <a href="/bacsi/thembenhan" class="btn btn-primary">Thêm bệnh án</a>

        <a href="/bacsi/nhapvien" class="btn btn-primary">Nhập viện</a>
        <a href="/bacsi/xuatvien" class="btn btn-primary">Xuất viện</a>
        <a href="/bacsi/dsbenhnhanphutrach" class="btn btn-primary">Danh sách bệnh nhân phụ trách</a>
        <a href="/bacsi/dschandoanbenh" class="btn btn-primary">Danh sách chẩn đoán bệnh</a>
        <a href="/bacsi/dsthuocbacsi" class="btn btn-primary">Danh sách thuốc bác sĩ</a>
        <a href="/bacsi/taoxetnghiem" class="btn btn-primary">Tạo xét nghiệm</a>
        <a href="/bacsi/taochisoxn" class="btn btn-primary">Tạo chỉ số xét nghiệm</a>
        <a href="/bacsi/taochiso" class="btn btn-primary">Tạo chỉ số</a>

    </main>
</div>


<%- include("../partials/footer") %>
<%- include("../partials/ending") %>