<%- include("../partials/header") %>
<form action="/bacsi/taochisoxn" method="POST">
    <label>NguongMin</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="NguongMin" class="form-control">
    </div>
    <label>NguongMax</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="NguongMax" class="form-control">
    </div>
    <button primary w-100">Submit</button>
</form>