<%- include("../partials/header") %>
<form action="/bacsi/taochiso" method="POST">
    <label>TenChiSo</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="TenChiSo" class="form-control">
    </div>
    <label>TenXetNghiem</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="TenXetNghiem" class="form-control">
    </div>
    <label>ThoiGianKhamBenh</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="ThoiGianKhamBenh" class="form-control">
    </div>
    <label>MaNhanVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="MaNhanVien" class="form-control">
    </div>
    <label>MaBenhNhan</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="MaBenhNhan" class="form-control">
    </div>
    <label>KetQua</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="KetQua" class="form-control">
    </div>
    <label>MaChiSoXetNghiem</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="MaChiSoXetNghiem" class="form-control">
    </div>
    <button class="btn btn-primary w-100">Submit</button>
</form>