<%- include("../partials/header") %>
<form action="/bacsi/themthuoc" method="POST">
    <label>TenThuoc</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="TenThuoc" class="form-control">
    </div>
</form>