<%- include("../partials/header") %>
<form action="/bacsi/thembenhan" method="POST">
    <label>ThoiGianNhapVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="ThoiGianNhapVien" class="form-control">
    </div>
    <label>NVThoiGianRaKQ</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="NVThoiGianRaKQ" class="form-control">
    </div>
    <label>NVThoiGianKhamBenh</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="NVThoiGianKhamBenh" class="form-control">
    </div>
    <label>NVMaNhanVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="NVMaNhanVien" class="form-control">
    </div>
    <label>NVMaBenhNhan</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="NVMaBenhNhan" class="form-control">
    </div>
    <label>SoGiuong</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="SoGiuong" class="form-control">
    </div>
    <label>CachDung</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="CachDung" class="form-control">
    </div>
    <label>SoBuong</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="SoBuong" class="form-control">
    </div>
    <label>TinhTrangNhapVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="TinhTrangNhapVien" class="form-control">
    </div>
    <label>ThoiGianXuatVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="ThoiGianXuatVien" class="form-control">
    </div>
    <label>TinHTrangXuatVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="TinHTrangXuatVien" class="form-control">
    </div>
    <label>GhiChuXuatVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="GhiChuXuatVien" class="form-control">
    </div>
    <label>XVThoiGianRaKQ</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="XVThoiGianRaKQ" class="form-control">
    </div>
    <label>XVThoiGianKhamBenh</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="XVThoiGianKhamBenh" class="form-control">
    </div>
    <label>XVMaNhanVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="XVMaNhanVien" class="form-control">
    </div>
    <label>XVMaBenhNhan</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="XVMaBenhNhan" class="form-control">
    </div>
    <button class="btn btn-primary w-100">Submit</button>
</form>