<%- include("../partials/header") %>
<form action="/bacsi/themkqcddduong" method="POST">
    <label>MaNhanVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="MaNhanVien" class="form-control">
    </div>
    <label>MaBenhNhan</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="MaBenhNhan" class="form-control">
    </div>
    <label>ThoiGianKhamBenh</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="ThoiGianKhamBenh" class="form-control">
    </div>
    <label>ThoiGianRaKQ</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="ThoiGianRaKQ" class="form-control">
    </div>
    <label>MaCDDDuong</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="MaCDDDuong" class="form-control">
    </div>
    <button class="btn btn-primary w-100">Submit</button>
</form>