<%- include("../partials/header") %>
<form action="/bacsi/themthuocvaokq" method="POST">
    <label>MaNhanVien</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="MaNhanVien" class="form-control">
    </div>
    <label>MaBenhNhan</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="MaBenhNhan" class="form-control">
    </div>
    <label>ThoiGianKhamBenh</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="ThoiGianKhamBenh" class="form-control">
    </div>
    <label>ThoiGianRaKQ</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="ThoiGianRaKQ" class="form-control">
    </div>
    <label>MaThuoc</label>
    <div class="form-group">
        <input type="text" placeholder="user's email" name="MaThuoc" class="form-control">
    </div>
    <label>LieuDung</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="LieuDung" class="form-control">
    </div>
    <label>CachDung</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="CachDung" class="form-control">
    </div>
    <label>NgayDung</label>
    <div class="form-group">
        <input type="text" placeholder="user's password" name="NgayDung" class="form-control">
    </div>
    <button class="btn btn-primary w-100">Submit</button>
</form>