<%- include("../partials/header") %> 

<h1>Demo Page</h1>

<a href="/demo/create" class="btn btn-primary">Create new doctor</a>
<a href="/demo/allDoctor" class="btn btn-primary">See all doctors</a>
<a href="/demo/Schedule" class="btn btn-primary">Schedule doctors</a>
<a href="/demo/findDoctor" class="btn btn-primary">Find doctors</a>

<%- include("../partials/footer") %> 