<%- include("partials/header") %> 
<div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">
        <h1>ERROR</h1>

        <p>Application run failed</p>
        <div class="alert alert-dark" role="alert">
            <%= err %>
        </div>

        <a href="/BSQuanLy" class="btn btn-primary">Start demo</a>
    </main>
</div>
<%- include("partials/footer") %> 

<%- include("partials/ending") %>