<%- include("partials/header") %>
  <div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">

      <h1>Trang chủ</h1>

      <p>Chào mừng bạn đến với BK Hospital, mời bạn đăng nhập để có thể sử dụng ứng dụng</p>
      <% if (!isLoged) {%>
        <a href="/Authentication/login" class="btn btn-primary">Đăng nhập</a>
        <a href="/Authentication/taoBenhNhan" class="btn btn-primary">Đăng ký tài khoản</a><br><br>
      <%}%>

    </main>
  </div>
<%- include("partials/footer") %>

<%- include("partials/ending") %>