<%- include("../partials/header") %>
  <div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">
      <h1>Trang Bác sĩ</h1>
      <a href="/Bacsi/DSBacSi" class="btn btn-primary">Xem các danh sách</a><br></br>
      <a href="/Bacsi/HoatDongKhac" class="btn btn-primary">Các hoạt động khác</a> <br></br>
      <a href="/Bacsi/KhambenhBacSiBenhNhan" class="btn btn-primary">Đăng ký khám bệnh cho bệnh nhân</a> <br></br>
      <a href="/Bacsi/DuaRaKQ" class="btn btn-primary">Trả kết quả khám bệnh cho bệnh nhân</a> <br></br>
      <!-- <a href="/Bacsi/KhambenhBacSiBenhNhan" class="btn btn-primary">Khám bệnh bác sĩ bệnh nhân</a> -->
      <!-- <a href="/Bacsi/DuaRaKQ" class="btn btn-primary">Đưa ra kết quả bệnh nhân</a> -->
      <!-- <a href="/Bacsi/Themthuoc" class="btn btn-primary">Thêm thuốc</a>   -->
      <!-- <a href="/Bacsi/ThemThuocVaoKQ" class="btn btn-primary">Thêm thuốc vào kết quả</a> -->
      <!-- <a href="/Bacsi/Thembenh" class="btn btn-primary">Thêm bệnh</a> -->
      <!-- <a href="/Bacsi/ThemKQBenh" class="btn btn-primary">Thêm kết quả bệnh</a> -->
      <!-- <a href="/Bacsi/ThemKQThuoc" class="btn btn-primary">Thêm kết quả thuốc</a>   -->
      <!-- <a href="/Bacsi/ThemCDDDuong" class="btn btn-primary">Thêm chế độ dinh dưỡng</a> -->
      <!-- <a href="/Bacsi/ThemKQCDDDuong" class="btn btn-primary">Thêm kết quả chế độ dinh dưỡng</a> -->
      <!-- <a href="/Bacsi/ThemBenhAn" class="btn btn-primary">Thêm bệnh án</a> -->
      <!-- <a href="/Bacsi/NhapVien" class="btn btn-primary">Nhập viện</a> -->
      <!-- <a href="/Bacsi/XuatVien" class="btn btn-primary">Xuất viện</a> -->

      <!-- <a href="/Bacsi/DsBenhNhanPhuTrach" class="btn btn-primary">Danh sách bệnh nhân phụ trách</a> -->
      <!-- <a href="/Bacsi/DsChanDoanBenh" class="btn btn-primary">Danh sách chẩn đoán bệnh</a> -->
      <!-- <a href="/Bacsi/DsThuocBacSi" class="btn btn-primary">Danh sách thuốc bác sĩ</a> -->
      <!-- <a href="/Bacsi/TaoXN" class="btn btn-primary">Tạo xét nghiệm</a> -->
      <!-- <a href="/Bacsi/TaoChiSoXN" class="btn btn-primary">Tạo chỉ số xét nghiệm</a> -->
      <!-- <a href="/Bacsi/TaoChiSo" class="btn btn-primary">Tạo chỉ số</a>   -->
      <!-- <a href="/Bacsi/DsXetNghiemBacSi" class="btn btn-primary">Danh sách xét nghiệm bác sĩ</a>   -->
      <!-- <a href="/Bacsi/TaoPhim" class="btn btn-primary">Tạo phim</a>    -->
      <!-- <a href="/Bacsi/DSChupPhimBacSi" class="btn btn-primary">Danh sách chụp phim bác sĩ</a>     -->
      <!-- <a href="/Bacsi/DSBenhNhanCungBenh" class="btn btn-primary">Danh sách bệnh nhân cùng bệnh</a>     -->
      <!-- <a href="/Bacsi/DSBenhNhanXV" class="btn btn-primary">Danh sách bệnh nhân xuất viện</a>     -->
      <!-- <a href="/Bacsi/DSBenhNhanBatThuong" class="btn btn-primary">Danh sách bệnh nhân bất thường</a>     -->

      <% if (!isLoged) {%> -->
        <!-- TODO thêm các button để dẫn đến các chức năng cần thiết, vui lòng đọc qua hết các chức năng và gom nhóm các chức năng lại một cách gọn gàng nhất. -->
        <!-- ! Sử dụng user để lấy dữ liệu tài khoản của user -->
        <!-- Ví dụ 1 button -->
        <!-- <a href="/BacSi/Schedule" class="btn btn-primary">Schedule doctors</a> -->
        <!-- <a href="/BacSi/Schedule" class="btn btn-primary">Schedule doctors</a> -->
        <%}%>
    </main>
  </div>
  <%- include("../partials/footer") %>

    <%- include("../partials/ending") %>