<%- include("../partials/header") %> 
<% if(Flag){ %>
    <div class="alert alert-success">
            <strong>Success!</strong> Bạn đã đăng ký khám bệnh bác sĩ bệnh nhân thành công </div>
 <% } %>
    <% if(Error){ %>
        <div class="alert alert-danger">
            <strong>Error!</strong> <%=     Error  %> </div>
    <% } %>
<div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">
        <h1>Khám bệnh bác sĩ bệnh nhân</h1>
        <form action="/BacSi/KhambenhBacSiBenhNhan" method="POST">
			<div class="form-group">
                <label>Mã bệnh nhân</label>
                <input type="text" name="MaBenhNhan" class="form-control">
                <label>Triệu chứng</label>
                <input type="text" name="TrieuChung" class="form-control">
                <label>Thời gian khám bệnh</label>
                <input type="text" name="ThoiGianKhamBenh" class="form-control">
            </div>
			<button class="btn btn-primary w-100">Submit</button>
		</form>
	</main>

<%- include("../partials/footer") %>
<%- include("../partials/ending") %>








