<%- include("../partials/header") %> 
<% if(Flag){ %>
    <div class="alert alert-success">
            <strong>Success!</strong>  Bạn đã tạo chỉ số thành công
          </div>
 <% } %>
 <% if(Error){ %>
    <div class="alert alert-danger">
        <strong>Error!</strong> <%=     Error  %> </div>
<% } %>
<div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">
        <h1>Tạo chỉ số</h1>
        <form action="/BacSi/TaoChiSo" method="POST">
			<div class="form-group">
                    <label>Tên chỉ số</label>
                        <input type="text"  name="TenChiSo" class="form-control">
                    <label>Tên xét nghiệm</label>
                        <input type="text"  name="TenXetNghiem" class="form-control">
                    <label>Thơi gian khám bệnh</label>
                        <input type="text"  name="ThoiGianKhamBenh" class="form-control">
                    <label>Mã bệnh nhân</label>
                        <input type="text"  name="MaBenhNhan" class="form-control">
                        <label>Kết quả</label>
                        <input type="text"  name="KetQua" class="form-control">
                    <label>Mã chỉ số xét nghiệm </label>
                        <input type="text"  name="MaChiSoXetNghiem" class="form-control">
                        
            </div>
			<button class="btn btn-primary w-100">Submit</button>
		</form>
	</main>

<%- include("../partials/footer") %>
<%- include("../partials/ending") %>















