<%- include("../partials/header") %> 
<% if(Flag){ %>
    <div class="alert alert-success">
            <strong>Success!</strong> Bạn đã tạo xét nghiệm thành công
          </div>
 <% } %>
 <% if(Error){ %>
    <div class="alert alert-danger">
        <strong>Error!</strong> <%=     Error  %> </div>
<% } %>
<div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">
        <h1>Tạo xét nghiệm</h1>
        <form action="/BacSi/TaoXN" method="POST">
			<div class="form-group">
                    <label>Mã nhân viên</label>
                        <input type="text"  name="MaNhanVien" class="form-control">
                    <label>Mã bệnh nhân</label>
                        <input type="text"  name="MaBenhNhan" class="form-control">
                    <label>Thơi gian khám bệnh</label>
                        <input type="text"  name="ThoiGianKhamBenh" class="form-control">
                        <label>Tên xét nghiệm</label>
                            <input type="text"  name="TenXetNghiem" class="form-control">
                        <label>Mã nhân viên thực hiện</label>
                            <input type="text"  name="MaNhanVienThucHien" class="form-control">
                        <label>Thời gian thực hiện</label>
                            <input type="text"  name="ThoiGianThucHien" class="form-control">
            </div>
			<button class="btn btn-primary w-100">Submit</button>
		</form>
	</main>

<%- include("../partials/footer") %>
<%- include("../partials/ending") %>






