<%- include("../partials/header") %> 
<% if(Flag){ %>
    <div class="alert alert-success">
            <strong>Success!</strong> Bạn đã thêm kết quả chế độ dinh dưỡng thành công
          </div>
 <% } %>
 <% if(Error){ %>
    <div class="alert alert-danger">
        <strong>Error!</strong> <%=     Error  %> </div>
 <% } %>
<div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">
        <h1>Thêm kết quả chế độ dinh dưỡng</h1>
        <form action="/BacSi/ThemKQCDDDuong" method="POST">
			<div class="form-group">
                    <label>Mã bệnh nhân</label>
                        <input type="text"  name="MaBenhNhan" class="form-control">
                    <label>Thơi gian khám bệnh</label>
                        <input type="text"  name="ThoiGianKhamBenh" class="form-control">
                    <label>Thời gian ra kết quả</label>
                    <input type="text"  name="ThoiGianRaKQ" class="form-control">
                    <label>Mã chế độ dinh dưỡng</label>
                    <div class="form-group">
                        <input type="text"  name="MaCDDDuong" class="form-control">
                    </div>
            </div>
			<button class="btn btn-primary w-100">Submit</button>
		</form>
	</main>

<%- include("../partials/footer") %>
<%- include("../partials/ending") %>






