<%- include("../partials/header") %> 
<div class="container">
  <main role="main" class="pb-3" style="margin-top: 100px;">
    <h1>Trang Quản lý</h1>

    <!-- TODO thêm các button để dẫn đến các chức năng cần thiết, vui lòng đọc qua hết các chức năng và gom nhóm các chức năng lại một cách gọn gàng nhất. -->
    <!-- ! Sử dụng user để lấy dữ liệu tài khoản của user -->
    <a href="/BSQuanLy/themKhoaMoi" class="btn btn-primary">Thêm khoa mới</a>
    <a href="/BSQuanLy/Schedule" class="btn btn-primary">Sắp lịch trực</a>
    <a href="/BSQuanLy/findDoctor" class="btn btn-primary">Tra cứu lịch trực</a><br><br>
    <a href="/BSQuanLy/TongBenhNhan_CaTruc" class="btn btn-primary">Tổng số bệnh nhân trong một ca trực</a>
    <a href="BSQuanLy/TongBenhNhan_CaTruc_Khoa" class="btn btn-primary"> Tổng số bệnh nhân trong một ca trong một ngày ở một khoa</a>
  </main>
</div>
<%- include("../partials/footer") %> 

<%- include("../partials/ending") %>
