<%- include("../partials/header") %> 
<div class="container">
  <main role="main" class="pb-3" style="margin-top: 100px;">
    <h1>Trang Quản lý</h1>

    <!-- <a href="/BSQuanLy/create" class="btn btn-primary">Create new doctor</a> -->
    <!-- <a href="/BSQuanLy/allDoctor" class="btn btn-primary">See all doctors</a> -->
    <a href="/BSQuanLy/Schedule" class="btn btn-primary">Schedule doctors</a>
    <a href="/BSQuanLy/findDoctor" class="btn btn-primary">Find doctors</a>
  </main>
</div>
<%- include("../partials/footer") %> 

<%- include("../partials/ending") %>
