<%- include("../partials/header") %> 
<% if(Flag){ %>
    <div class="alert alert-success">
            <strong>Success!</strong>  Bạn đã thêm tài khoản bác sĩ quản lý thành công
          </div>
 <% } %>
 <% if(Error){ %>
    <div class="alert alert-danger">
        <strong>Error!</strong> <%=     Error  %> </div>
<% } %>
<div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">
        <h1>Thêm tài khoản bác sĩ quản lý</h1>
        <form action="/BSQuanLy/taoBSQuanly" method="POST">
			<div class="form-group">
                    <label>Nhập mã nhân viên</label>
                        <input type="number"  name="MaNhanVien" class="form-control">
            </div>
			<button class="btn btn-primary w-100">Submit</button>
		</form>
	</main>

<%- include("../partials/footer") %>
<%- include("../partials/ending") %>















