<%- include("../partials/header") %> 
<div class="container">
  <main role="main" class="pb-3" style="margin-top: 100px;">
    <h1>Trang Bệnh nhân</h1>
    <br>
    <% if (isLoged) {%>
      <a href="/BenhNhan/taoBenhNhan" class="btn btn-primary">Tạo tài khoản bệnh nhân</a><br><br>
      <a href="/BenhNhan/themBHYTe_BenhNhan" class="btn btn-primary">Thêm thông tin bảo hiểm y tế</a><br><br>
      <a href="/BenhNhan/CapNhatNhanKhauHoc" class="btn btn-primary">Cập nhập thông tin nhân khẩu học</a><br><br>
      <a href="/BenhNhan/DSThuoc" class="btn btn-primary">Xem danh sách thuốc các lần điều trị</a><br><br>
      <a href="/BenhNhan/DSXetNghiem" class="btn btn-primary">Xem danh sách các lần xét nghiệm</a><br><br>
      <a href="/BenhNhan/DSBacSi" class="btn btn-primary">Xem danh sách bác sĩ điều trị</a><br><br>
      <a href="/BenhNhan/DSCDDDuong" class="btn btn-primary">Xem danh sách chế độ dinh dưỡng</a><br><br>
    <%}%>
  </main>
</div>
<%- include("../partials/footer") %> 

<%- include("../partials/ending") %>
